.org-chat-sidebar {
  background-color: var(--component-background-color);
  border-right: 1px solid var(--gray-6);

  position: sticky;
  overflow: auto;

  display: flex;
  flex-direction: column;

  margin-top: 0;
  max-height: calc(100vh - 58px);

  &__header {
    padding: 0.7rem 1rem 0.8rem 1rem;
    border-bottom: 1px solid var(--gray-6);
    background-color: var(--gray-4);
  }

  &__new-conversation-button {
    background-color: var(--gray-3);
    color: var(--gray-11);
    border: 1px solid var(--gray-7);

    padding: 0.5rem 0.5rem;
    width: 100%;

    justify-content: start;

    font-size: 0.9rem;

    &:hover {
      background-color: var(--gray-2);
      border-color: var(--gray-6);
    }
  }

  &__conversations {
    margin: 0 0 0 -0.5rem;
    padding: 0;
  }

  &__conversation {
    list-style: none;

    a {
      display: inline-flex;
      width: 95%;
      border-radius: 4px;

      color: var(--text-color);
      font-weight: 400;
      font-size: 0.9rem;

      padding: 0.4rem 0.5rem;

      &:hover {
        background-color: var(--gray-5);
      }
    }
  }
}
