.org-chatbox {
  display: flex;
  flex-direction: column;
  height: inherit;

  &__messages-container {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;

    margin-bottom: 3rem;
  }

  &__messages-list {
    max-width: 40rem;

    margin: 0 auto;
    padding-left: 0;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--gray-11);

    margin-bottom: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
